.overlay {
    margin-left: 260px;
    min-height: 100vh;
    width: calc(100% - 260px);

    overflow-y: auto;

    background: rgba(45, 141, 238, 0.25); /* mais leve */
    
    padding: 20px 30px; /* 👈 reduzido e horizontal melhor */
}