.overlay {
    margin-left: 270px;
    min-height: 100vh;
    width: calc(100% - 270px);

    overflow-y: auto;

    background:#2d8dee7e;
    padding: 35px;
}

.overlaydc{
    margin-left:270px;
    width:calc(100% - 270px);
    background:#2d8dee7e;
    padding:35px;
}
